* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a :focus {
  text-decoration: none;
  color: green;
  opacity: 1;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2rem;
  font-weight: 300;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2rem;
  text-align: center;

  /*for about us */
  padding-bottom: 80px;
}

h1 span {
  color: orange;
}

/* Header Section */

header {
  background-color: black;
  margin: 0;
  padding: 0 20px;
}

.logo {
  background-image: url("../logo_white.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  padding: 20px 60px;
  position: relative;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

#hamnav label {
  display: inline-block;
  color: white;
  font-style: normal;
  font-size: 3rem;
  padding-left: 350px;
  padding-top: 10px;
  position: absolute;
}

nav #hamburger {
  display: none;
}

#hamitems a {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #fffafa;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  width: 100%;
  display: inline-block;

}

#hamitems a:hover {
  color: orange;
  transition: 0.3s ease-in;
}
  
#hamitems a#active {
  background-color: white;
  color: black;
  font-weight: 600;
}

#hamitems {
  display: none;
}

#hamnav input:checked ~ #hamitems {
  display: block;
}
/* End of Header Section */

/* Hero Section */

.hero,
.login-form {
  min-height: 100vh;
}

#hero {
  background-image: url("../images/image10.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  background-color: black;
}

/* Black Over-layer to create contrast */
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text-show 0.5s ease forwards;
  animation-delay: 0.3s;
}

#hero h1:nth-child(1) {
  animation-delay: 1s;
}

#hero h1:nth-child(2) {
  animation: text-show-name 0.5s ease forwards;
  animation-delay: 2s;
}

#hero h1:nth-child(3) {
  animation-delay: 3s;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: orange;
  animation: text-show-box 1s ease;
  animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  color: orange;
  background-color: black;
  border: 2px solid orange;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

#hero .cta:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
/* End of Hero Section */

/* Events Secion */

#future-events .upcoming {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0;
  padding: 100px 0;
}

#future-events .upcoming-title {
  max-width: 1000px;
  margin: 0 50px;
}

#future-events .upcoming-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#future-events .upcoming-event {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  background-image: url("../images/image9.jpg");
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  background-color: #080808;
}

/* Overlay for contrast */
#future-events .upcoming-event::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}

#future-events .upcoming-event .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#future-events .upcoming-event h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: orange;
}

#future-events .upcoming-event p {
  text-align: left;
  color: white;
}

/* End of Events Secion */

/* Form Section */

.contact-form :focus {
  color: green;
}

label,
input {
  display: block;
  width: 400px;
  margin-bottom: 5px;
  top: 0;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 10px;
}

label {
  font-size: 1.4rem;
}

textarea {
  width: 400px;
  resize: vertical;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  color: #101010;
}

#submit {
  margin-bottom: 60px;
  color: white;
  background-color: black;
  cursor: pointer;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

.pass-manager {
  padding: 10px;
}

input[type="submit"] :focus-visible {
  background: green;
  color: orange;
}

#login-forms .login-form .pass-manager li {
  list-style: none;
  display: inline-block;
}
#login-forms .breadcrumb {
  padding: 10px;
  margin-right: 20px;
}

#login-forms .login-form {
  position: relative;
}
.login-form :focus {
  color: green;
}

#login-forms .login-form .pass-manager {
  position: absolute;
  bottom: 200px;
}

/* Footer */
#footer {
  background-color: black;
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

.brand h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  padding: 0 60px;
  position: relative;
}

.drinks h2 {
  padding: 30px;
  text-transform: uppercase;
}

.drinks .drink-type,
.price {
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.drinks .price {
  font-weight: 600;
  padding-bottom: 30px;
  color: white;
}

.drinks .price span {
  background-color: black;
  padding: 10px;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-item:hover img {
  filter: grayscale(0);
}

#footer p {
  color: grey;
  font-size: 1.3rem;
}

#footer .foot-links {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer .foot-links li {
  display: inline-block;
  padding: 30px;
}

#footer .foot-links a {
  color: grey;
  font-size: 1.3rem;
  text-decoration: none;
}

#footer .foot-links a:hover {
  color: orange;
}

/* End of Footer Section */

/* keyframes */
@keyframes text-show-box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text-show {
  100% {
    color: white;
  }
}

@keyframes text-show-name {
  100% {
    color: orange;
  }
}

/* Media Query for Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1 .upcoming-title {
    font-size: 6rem;
  }

  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }

  /* Up-Coming Events Section */
  #future-events .upcoming-content .upcoming-event {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End of Up-Coming Events Section */
}

/* End of Media Query for Tablet */

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #future-events .upcoming-content .upcoming-event {
    flex-basis: 22%;
    margin: 1.5%;
  }

 
a :focus {
  text-decoration: none;
  color: green;
  opacity: 1;
}

#hamnav {
  width: 100%;
  background: #000000;
  position: sticky;
  top: 0;  
}

#hamnav label, #hamburger {
  display: none;
  cursor: pointer;
}

#hamitems {
  display: flex;
  background-color: #0d0d0d;
}

#hamitems a {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #fffafa;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  width: 14%;
  display: inline-block;
}
  /* End of Media Query for Desktop */
}
#hero .breadcrumb{
  color: rgba(241, 90, 34, 1); ;
}
.breadcrumb {
  display: flex;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 0;
  text-align: left;
  margin-bottom: 1em;
  color:green;
  background-color: transparent;
}

.breadcrumb a {
  margin-top: 1%;
  font-size: medium;
  text-decoration: none;
  color: black;
}

.breadcrumb ul {
  list-style-type: none;
  width: 100%;
}

.breadcrumb ul li {
  display: inline-block;
  font-size: medium;
  padding-left: 0.2%;
}
/* for gallery */
.gallerys {
  padding: 10px;
  overflow: hidden;
  text-align: center;
}
.img {
  display: inline-block;
  width: 100%;
  max-width: 340px;
  height: 220px;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
}
.img img {
  width: 100%;
  height: 220px;
  transition: 0.4s;
}
.img img:hover {
  transform: scale(1.2);
}

@media (max-width: 400px) {
  .img {
    margin: 10px 0;
  }
}
