body{    
    margin: 0;
    font-family: Arial; 
    background: #222; 
    font-weight: 300; 
  
}
:root{
    --background: rgba(85, 214, 170, .85)
}
.container{
    width: 60%;
    margin: 0 auto;

}
header{
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

header::after {
content: "";
display: table;
clear: both;
}
.logo{
    float: left;
    padding: 10px 0;
}
.nav{
    float: right;
    position: absolute;
    text-align: center;
    top: 100%;

    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
display: inline-block;
margin-left: 70px;
padding-top: 20px;
position: relative;

}
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;

}
nav a:hover{
color: black;
}
nav a::before{
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    position: absolute;
    transition: all ease-in-out 500ms;

}
nav a:hover::before{
    width: 100%;
}
.footer{
    bottom: 0;
    

}
.footer{
    width: 100%;
    position: fixed;        
    background: var(--background);
    padding: 20px 0;
    padding-left: 20%;
    z-index: 999;
    font-size: 1.2rem;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    
}
.footer:hover{
    color:black;
}
.footer::before{
    content: "";
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    position: absolute;
    transition: all ease-in-out 500ms;

}
.footer:hover::after{
    width: 50%;
    
}
AboutUStitle {
    font-size: larger;
    font-style: italic;
    font-size: XX-large;
    color: whitesmoke;
}
.aboutus{
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
    text-align: center;
    padding-bottom: 19%;
    /*padding-left: 10%;
            padding-right: 10%;*/
    padding-top: 10%;
}
p {
    color: white;
}


 #aboutSec {
    padding-left: 30%;
    padding-right: 20%;
    align-items: center;
  
}
.reviewImg {
    height: 30%;
    width: 30%;
    max-width: 100%;
}

@media only screen and (max-width: 750px) {
    .container {
        padding-top: 30px;
    }
    .reviewImg {
        height: 99px;
        width: 200px;
    }
}